<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>File upload demo</title>
  </head>
  <body>
    <form id="form" enctype="multipart/form-data" action="/upload" method="POST">
      <input class="input file-input" type="file" name="file" multiple />
      <button class="button" type="submit">Submit</button>
    </form>
    <h1>Video Player</h1>
    <p id="currentVideo">現在の動画: <span id="currentVideoName">なし</span>
    <button id="startPlayback">最初の動画を再生</button></p>
    <video id="videoPlayer" width="600" controls>
      <source id="videoSource" src="" type="video/mp4">
    </video>
    <ul id="videoList">
      {{if .}}
          {{range .}}
          <li>
              <a href="#" onclick="playVideo('{{.Name}}'); return false;">{{.Name}}</a>
          </li>
          {{end}}
      {{else}}
          <p>No videos found.</p>
      {{end}}
    </ul>

    <script>
        const videoPlayer = document.getElementById('videoPlayer');
        const videoSource = document.getElementById('videoSource');
        const videoList = document.getElementById('videoList').getElementsByTagName('a');
        const currentVideo = document.getElementById('currentVideo');
        const currentVideoName = document.getElementById('currentVideoName');
        const startPlaybackButton = document.getElementById('startPlayback');
        let currentVideoIndex = 0;

        function playVideo(fileName) {
            const src = `/videos/${fileName}`;
            videoSource.src = src;
            videoPlayer.load();
            videoPlayer.play();
            updateCurrentVideoIndex(src);
        }

        function updateCurrentVideoIndex(src) {
            for (let i = 0; i < videoList.length; i++) {
                const videoSrc = `/videos/${videoList[i].textContent}`;
                if (videoSrc === src) {
                    currentVideoIndex = i;
                    currentVideoName.textContent = videoList[i].textContent;
                    break;
                }
            }
        }

        function playNextVideo() {
            currentVideoIndex++;
            if (currentVideoIndex < videoList.length) {
                playVideo(videoList[currentVideoIndex].textContent);
            } else {
                currentVideoIndex = 0; // ループ再生する場合
                playVideo(videoList[currentVideoIndex].textContent);
            }
        }

        videoPlayer.addEventListener('ended', playNextVideo);

        startPlaybackButton.addEventListener('click', function() {
            if (videoList.length > 0) {
                playVideo(videoList[0].textContent);
                startPlaybackButton.style.display = 'none'; // ボタンを隠す
            }
        });
    </script>
  </body>
</html>
